/* region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:root {
    --dis-primary-color: #3161e0;
    --dis-secondary-color: #23272a;
}

img {
    max-width: 100%;
}



/* #region debug*/
#debug * {
    border: 1px dashed;
}



#debug .container-sm {
    height: 200px;
}

#debug .w40 {
    height: 100px;
    background-color: lightblue;
}

#debug .w60 {
    height: 100px;
    background-color: lightcoral;
}

#debug .block-7 {
    height: 100px;
}





/* #region utility */
.bg-primary {
    background-color: var(--dis-primary-color);
}

.bg-blu {
    background-image: url(../img/jumbo.png);
}

.container {
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-evenly;
}


.col {
    width: 25%;
    color: white;
    display: flex;
}


.col-2 {
    width: 50%;
    color: white;
}

.acces {
    width: 25%;
    border-radius: 500px;
    width: 100px;
    background-color: white;
}

.mac {
    border-radius: 500px;
    width: 200px;
    background-color: white;
    padding: 0.5rem;
}

.browser {
    border-radius: 500px;
    width: 200px;
    background-color: var(--dis-secondary-color);
    color: white;
    padding: 0.5rem;

}
.d-flex {
    display: flex;
    justify-content: space-around;
}

.w40 {
    width: 40%;
}

.w60 {
    width: 60%;
}



.bg-ltg {
    background-color: lightgrey;
}

.row-2 {
    padding: 1.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.block-7 {

    width: 55%;
    background-color: salmon;
}

.block-8 {

    width: 40%;
    background-color: aqua;
}

.bg-dkg {
    background-color: rgb(43, 41, 41);
}

.col-3 {
    width: 25%;
    background-color: rosybrown;
}